* {
    padding: 0;
    box-sizing: inherit;
    overflow: hidden; }
  
  .main-content {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    background: url("../images/background.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    background-size: cover;
    height: 99vh;
    /*background-color: #464646;*/
    padding: 50px 50px 50px 100px;
    position: relative; }
    .main-content .tag {
      display: block;
      position: absolute;
      font-size: 15px;
      font-weight: 100;
      font-family: ff-market-web, sans-serif;
      color: #414141;
      top: 30px;
      margin-left: -20px; }
    .main-content .tag-end {
      display: block;
      position: absolute;
      font-size: 15px;
      font-weight: 100;
      font-family: ff-market-web, sans-serif;
      color: #414141;
      bottom: 135px;
      margin-left: -20px; }
    .main-content h1 {
      margin-top: 10vh;
      font-size: 100px;
      font-family: Acier-BAT-Noir, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #414141; }
      .main-content h1::before, .main-content h1::after {
        display: block;
        font-size: 15px;
        font-weight: 100;
        font-family: ff-market-web, sans-serif;
        color: #414141; }
      .main-content h1::before {
        content: '<tittle>';
        display: block; }
      .main-content h1::after {
        content: '</tittle>';
        display: block; }
    .main-content p {
      font-family: nunito-sans, sans-serif;
      font-size: 20px;
      color: #414141;
      font-weight: lighter;
      margin-top: 20px; }
    .main-content button {
      font-family: nunito-sans, sans-serif;
      font-size: 15px;
      letter-spacing: 2px;
      padding: 10px;
      background-color: transparent;
      color: #A7E7D9;
      border: 1px solid #A7E7D9;
      margin-top: 40px;
      border-radius: 8px;
      transition-duration: .5s; }
      .main-content button:hover {
        background-color: #A7E7D9;
        color: white; }
  
  .icons {
    display: block;
    margin-top: 35px; }
    .icons a {
      margin-right: 20px; }
    .icons img {
      display: inline-block;
      height: 25px;
      opacity: .3;
      margin-right: 10px;
      margin-left: 20px;
      transition: all .3s; }
      .icons img:hover {
        opacity: 1; }
      .icons img:nth-child(1) {
        margin-left: 0px; }
  
  @media screen and (max-width: 360px) {
    .main-content {
      padding: 25px;
      overflow-y: scroll; }
      .main-content h1 {
        font-size: 30px;
        margin-top: 20px; }
      .main-content .tag-end {
        margin-top: 20px; }
      .main-content p {
        font-size: 20px; }
  }

  @media screen and (max-width: 510px) and (min-width: 350px) {
    .main-content {
      padding: 25px;
      overflow-y: scroll; }
      .main-content h1 {
        font-size: 40px;
        margin-top: 20px; }
      .main-content .tag-end {
        margin-top: 20px; }
      .main-content p {
        font-size: 20px; }
  }
  
  @media screen and (max-width: 810px) and (min-width: 510px) {
    .main-content {
      background-position: left;
      padding: 30px;
      overflow-y: scroll; }
      .main-content .about-end {
        display: none; }
      .main-content h1 {
        font-size: 50px;
        margin-top: 20vh; }
      .main-content .BigJ {
        display: none; }
      .main-content .tag-end {
        margin-top: 80px; }
  }
  
  @media screen and (max-width: 1280px) {
    .main-content {
      overflow-x: scroll;
      background-position: center; }
      .main-content h1 {
        margin-top: 10vh; }
      .main-content .BigJ {
        display: none; } }
  
  @media screen and (max-height: 800px) and (min-height: 300px) {
    .main-content {
      overflow-x: hidden;
      background-position: center; }

  
  .project-container {
    width: 600px;
    height: 90%;
    overflow: scroll;
    position: absolute;
    top: 0;
    right: 20%; }
    .project-container::-webkit-scrollbar {
      display: none; }
    .project-container .image-container {
      width: 100%;
      height: auto; }
      .project-container .image-container img {
        width: 100%; }
      }
  @media screen and (max-width: 680px) {
    .about-end {
      position: relative !important; }
    .main-content {
      overflow: hidden;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden; }
    .project-container {
      margin-top: 100px;
      height: 800px;
      margin-bottom: 180px !important;
      position: relative;
      overflow: hidden;
      width: 100%;
      right: unset; } }
  
  @media screen and (max-width: 1550px) and (min-width: 1200px) {
    .project-container {
      width: 400px;
      right: 15%; } }
  
  h2 {
    color: #4C4C4C;
    font-family: nunito-sans, sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: light;
    text-align: center;
    margin-top: 70px; }
  
  a {
    color: white; }
  
  .about-container {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    top: 0; }
    .about-container::-webkit-scrollbar {
      display: visible; }
    .about-container .image-container {
      width: 100%;
      height: auto; }
      .about-container .image-container img {
        width: 100%; }
  
  @media screen and (max-width: 1100px) {
    .about-end {
      position: relative !important; }
    .main-content {
      overflow: hidden;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden; }
    .about-container {
      margin-top: 100px;
      height: auto;
      margin-bottom: 180px !important;
      position: relative;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      right: unset; } }
  
  